@import (reference, once) "../../style/constant";

.@{component}_DayEvent {
  position: absolute;
  visibility: visible;
  outline: none;
  width: 96%;
  cursor: pointer;
  background: @day-event-background-color;
  box-shadow: inset 3px 0px 0px 0px @day-event-border-color;

  &__selected {
    background: @day-event-background-selected-color;
  }

  .mobile({
    width: 90%;
    box-shadow: inset 1px 0px 0px 0px @day-event-border-color;
  })
}
