.calendar {
  font: 13px/1.5 Arial, Helvetica, sans-serif;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

.calendar_Day {
  height: 100%;
  position: relative;
}

.calendar_Day__weekend {
  background: rgba(242, 242, 242, 0.5);
}

.calendar_DayEvent {
  position: absolute;
  visibility: visible;
  outline: none;
  width: 96%;
  cursor: pointer;
  background: rgba(0, 0, 255, 0.2);
  box-shadow: inset 3px 0px 0px 0px rgba(0, 0, 255, 0.5);
}

.calendar_DayEvent.selected {
  background: rgba(0, 0, 255, 0.3);
}

.calendar_DayEvents {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.mixin-title-hour {
  display: block;
  position: absolute;
  left: 0;
  margin-left: -4em;
  white-space: nowrap;
  font-size: 0.9em;
  line-height: 0.9em;
  color: #b3b3b3;
  width: 3.5em;
  text-align: end;
}

.calendar_DayHours {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.calendar_DayHours_item {
  display: table-row;
}

.calendar_DayHours_item > .calendar_DayHours_item_content {
  position: relative;
  display: table-cell;
  box-shadow: inset 0px 1px 0px 0px rgba(211, 211, 211, 0.5);
}

.calendar_DayHours_item > .calendar_DayHours_item_content[data-hour]:before {
  display: block;
  position: absolute;
  left: 0;
  margin-left: -4em;
  white-space: nowrap;
  font-size: 0.9em;
  line-height: 0.9em;
  color: #b3b3b3;
  width: 3.5em;
  text-align: end;
  content: attr(data-hour);
  margin-top: -0.45em;
}

.calendar_DayHours_item:last-child > .calendar_DayHours_item_content {
  box-shadow: inset 0px 1px 0px 0px rgba(211, 211, 211, 0.5), inset 0px -1px 0px 0px rgba(211, 211, 211, 0.5);
}

.calendar_DayHours_item:last-child > .calendar_DayHours_item_content[data-next-hour]:after {
  display: block;
  position: absolute;
  left: 0;
  margin-left: -4em;
  white-space: nowrap;
  font-size: 0.9em;
  line-height: 0.9em;
  color: #b3b3b3;
  width: 3.5em;
  text-align: end;
  content: attr(data-next-hour);
  bottom: 0;
  margin-bottom: -0.45em;
}

.calendar_GridDays {
  position: relative;
  height: 200%;
  margin-top: 0.45em;
  margin-bottom: 0.45em;
  margin-left: 4em;
  transition: transform 0.1s;
}

.calendar_GridDays_item {
  width: 100%;
  height: 100%;
  display: table;
}

.calendar_GridDays_day {
  display: table-cell;
}

.calendar_GridDays_day:not(:last-child) {
  box-shadow: inset -1px 0px 0px 0px rgba(211, 211, 211, 0.5);
}

.calendar_InfiniteList {
  width: 100%;
  height: 100%;
  overflo: hidden;
  white-space: nowrap;
}

.calendar_InfiniteList_item {
  display: inline-block;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 480px) {
  .calendar_DayEvent {
    width: 90%;
    box-shadow: inset 1px 0px 0px 0px rgba(0, 0, 255, 0.5);
  }

  .calendar_DayHours_item > .calendar_DayHours_item_content[data-hour]:before {
    font-size: 1.05em;
    line-height: 1.05em;
    margin-top: -0.525em;
  }

  .calendar_DayHours_item:last-child > .calendar_DayHours_item_content[data-next-hour]:after {
    font-size: 1.05em;
    line-height: 1.05em;
    margin-bottom: -0.525em;
  }

  .calendar_GridDays {
    margin-top: 0.45em;
    margin-bottom: 0.45em;
  }
}.app {
  margin: 50px;
  position: absolute;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}