@global-font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

@global-base-text-color: fade(#000, 80%);

@global-header-height: 48px;
@global-header-bg: #6887ff; // #fff;
@global-header-color: fade(#fff, 80%);

@global-aside-width: 200px;
@global-aside-bg-color: #fff; // #1a237e;
@global-aside-text-color: fade(#000, 80%);

.h1() {
  margin: 1rem 0;
}
