@global-font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
@global-base-color: #6887ff;

@global-base-text-color: fade(#000, 80%);

@global-header-height: 48px;
@global-header-bg: #6887ff; // #fff;
@global-header-color: fade(#fff, 80%);

@global-aside-width: 200px;
@global-aside-bg-color: #fff; // #1a237e;
@global-aside-text-color: fade(#000, 80%);

@global-list-hover-bg: fade(@global-base-color, 10%); // #F0F1FF;
@global-list-active-bg: fade(@global-base-color, 20%); // #E2E4FF;

@global-sizes: xs 0.25rem, s 0.5rem, m 1rem, l 1.5rem, xl 2rem;
@global-sides: top, left, bottom, right;

.h1() {
  font-size: 1.6rem;
  font-weight: normal;
  margin: at(@global-sizes, m) 0;
}

@import (reference, once) "./mixins/form";
