@import (reference, once) "../../style/variables";

.SettingsExternals {
  margin: 1rem;

  &_Title {
    .h1();
  }
}

.ListGroup {
  padding: 1rem 0;
  margin: 0;

  &_Item {
    list-style-type: none;
    padding: 12px 16px;
    display: flex;
    align-items: baseline;

    &:hover {
      background-color: rgba(0,0,0,.01);
    }
  }
}
