@import (reference, once) "../../style/variables";

.SettingsExternals {
  margin: 1rem;
}

.ListGroup {
  padding: 1rem 0;
  margin: 0;

  &_Item {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0.5rem 1rem;
    border-bottom: 1px dotted #eee;

    &:hover {
      background-color: @global-list-hover-bg;
    }
  }

  &_Icon {
    margin: 0 0.5rem 0 0;
  }
}
