@import (reference, once) "../../style/constant";

.mixin-infinite-full-fill (@rules) {
  .@{component}_InfiniteList__fullFill & {
    @rules();
  }
}

.@{component}_InfiniteList {
  overflow: hidden;
  white-space: nowrap;

  &__fullFill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &_Content {
    width: 100%;
    will-change: transform;
    transition: transform ease-out 0.1s;

    &__stopTransition {
      transition: none;
    }

    .mixin-infinite-full-fill({
      height: 100%;
    });
  }

  &_Item {
    display: inline-block;
    width: 100%;

    .mixin-infinite-full-fill({
      height: 100%;
    });
  }
}
