@import (reference, once) "../../style/constant";

.@{component}_InfiniteList {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &_Content {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    will-change: transform;

    &__transition {
      transition: transform ease-out 0.1s;
    }
  }

  &_Item {
    visibility: hidden;
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: top;

    &__visible {
      visibility: visible;
    }
  }
}
