@import (reference, once) "../../style/constant";

.@{component}_GridDaysHeader {
  padding-left: @day-hours-width;
  box-shadow: inset 0 -3px 0 0 @day-separator-color;

  &_Content {
    position: relative;
    min-height: 35px;
  }

  &_Item {
    width: 100%;
    height: 100%;
    display: table;
  }
}
