@import (reference, once) "../../style/variables";

.Aside {
  float: left;
  width: @global-aside-width;
  height: 100%;
  background-color: @global-aside-bg-color;
  color: @global-aside-text-color;
  // box-shadow: 2px 0 2px 0 fade(#000, 5%);
}
