@import (reference, once) "../../style/constant";

.Aside {
  float: left;
  width: @aside-width;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px fade(#000, 10%), 0 -1px 0 fade(#000, 2%);
}
