@import (reference, once) "../../style/constant";

.mixin-title-hour () {
  display: block;
  position: absolute;
  left: 0;
  margin-left: -1 * @day-hours-width;
  width: @day-hours-width - 0.5em;
  text-align: end;
  white-space: nowrap;
}

.@{component}_DayHours2 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.@{component}_DayHours {
  pointer-events: none;
  visibility: hidden;
  display: table;
  height: 100%;
  width: 100%;


  color: @day-hour-color;
  font-size: @day-hour-size;
  line-height: @day-hour-size;

  &_Item {
    display: table-row;

    & > &_Content {
      visibility: visible;
      position: relative;
      display: table-cell;
      box-shadow: inset 0px 1px 0px 0px @day-hour-separator-color;

      &[data-hour]:before {
        .mixin-title-hour();

        content: attr(data-hour);
        top: -0.5 * @day-hour-size;

        .mobile({
          top: -0.5 * @day-hour-size-mobile;
        })
      }

      &[data-next-hour]:after {
        .mixin-title-hour();

        content: attr(data-next-hour);
        bottom: -0.5 * @day-hour-size;

        .mobile({
          bottom: -0.5 * @day-hour-size-mobile;
        })
      }
    }

    &:last-child > &_Content {
      box-shadow:
        inset 0px 1px 0px 0px @day-hour-separator-color,
        inset 0px -1px 0px 0px @day-hour-separator-color;
    }
  }

  .mobile({
    font-size: @day-hour-size-mobile;
    line-height: @day-hour-size-mobile;
  })
}
