@import (reference, once) "../../style/variables";

.App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  &_Content {
    margin-left: @aside-width;
    box-shadow: none;
    position: relative;
    min-height: 100%;
  }

  &_Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: inherit;
    min-height: @header-height;
    color: @header-text-color;
    background-color: @header-bg-color;
    box-shadow: 2px 2px 2px 0px fade(#000, 15%);
  }

  &_Body {
    position: absolute;
    top: @header-height;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
