@import (reference, once) "../../style/constant";

.@{component}_day {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;

  &_wrap {
    height: 100%;
    position: relative;
    background: @day-content-color;
  }

  &_hour {
    display: table-row;
    box-shadow: inset 0px 1px 0px 0px @day-content-sep-color;

    &:last-child {
      box-shadow:
        inset 0px 1px 0px 0px @day-content-sep-color,
        inset 0px -1px 0px 0px @day-content-sep-color;
    }
  }
}
