@import (reference, once) "./constant";

.calendar {
  font: 13px/1.5 Arial,Helvetica,sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.calendar_infinite {
  width: 100%;
  height: 100%;
  float: left;
}

.calendar_days {
  position: relative;
  height: 200%;
  padding: 5px 0;
}

.calendar_days__hours {
  margin-left: @day-hours-width;

  .calendar_days_hours {
    display: table;
  }
}

.calendar_days_hours {
  display: none;
  position: relative;
  height: 100%;
  width: @day-hours-width;
  margin-left: -1 * @day-hours-width;
  float: left;
}

.calendar_days_hours_item {
  display: table-row;

  &:before, &:last-child:after {
    display: block;
    position: absolute;
    right: 0;
    margin-right: 5px;
    white-space: nowrap;
    font-size: @day-hour-size;
    line-height: @day-hour-size;
    color: @day-hour-color;
  }

  &:before {
    content: attr(data-hour);
    margin-top: -0.5 * @day-hour-size;
  }

  &:last-child:after {
    content: attr(data-next-hour);
    margin-bottom: -0.5 * @day-hour-size;
    bottom: 0;
  }
}

.calendar_day_wrap {
  height: 100%;
  position: relative;
  background: @day-content-color;
}

.calendar_day {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
}

.calendar_day_hour {
  display: table-row;
  box-shadow: inset 0px 1px 0px 0px @day-content-sep-color;

  &:last-child {
    box-shadow:
      inset 0px 1px 0px 0px @day-content-sep-color,
      inset 0px -1px 0px 0px @day-content-sep-color;
  }
}

.calendar_day_events {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.calendar_day_event {
  position: absolute;
  visibility: visible;
  outline: none;
  width: 100%;
  cursor: pointer;
  background: fade(@day-event-color, 20%);
  box-shadow: inset 3px 0px 0px 0px fade(@day-event-color, 50%);

  &.selected {
    background: fade(@day-event-color, 30%);
  }
}
