.form (
  @button-active-color: #fff,
  @control-height: 2.3rem
) {

  @import (reference, once) "./form-button";

  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 250px;

  &_Row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  &_ControlGroup {
    display: flex;
    position: relative;
  }

  &_Label {
    margin-bottom: .5rem;
  }

  &_Control {
    flex-grow: 1;
    padding: .5rem .75rem;
    margin: 0;
    font-size: 1rem;
    line-height: 1.25;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid fade(#000, 15%);
    touch-action: manipulation;
    box-sizing: border-box;
    height: @control-height;
    user-select: none;
    outline-offset: -2px;
    outline-width: 2px;

    &[disabled] {
      background-color: fade(#000, 10%);
    }

    select& {
      height: @control-height;
      text-transform: none;
    }

    &_Color + & {
      padding-left: 2.6rem;
    }

    &_Color {
      position: absolute;
      background: transparent;
      background-image: none;
      background-clip: padding-box;
      border: 0;
      touch-action: manipulation;
      width: @control-height;
      height: @control-height;
      margin: 0;
      padding: 0.2rem;
      flex-grow: 0;
      flex-shrink: 0;
      box-sizing: border-box;
      outline-offset: -2px;
      outline-width: 2px;
    }
  }

  &_Button {
    .form-button();

    & + & {
      margin-left: .5rem;
    }

    &__active {
      .form-button-active();
    }
  }
}
