.form (
  @control-height: 2.3rem,


  @control-active-color: #fff,
  @control-active-border-color: #0275d8,
  @control-active-background-color: #0275d8,

  @control-active-hover-border-color: darken(@control-active-border-color, 5%),
  @control-active-hover-background-color: darken(@control-active-background-color, 5%),


  @control-border-color: #c1c1c1,
  @control-background-color: #fff,

  @control-hover-border-color: darken(@control-border-color, 5%),
  @control-hover-background-color: darken(@control-background-color, 5%),

  @control-disabled-color: lighten(@global-base-text-color, 50%),
  @control-disabled-border-color: lighten(@control-border-color, 10%),
  @control-disabled-background-color: darken(@control-background-color, 2%),


  @control-font-size: 1rem
) {

  @import (reference, once) "./form-button";

  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 250px;

  &_Row {
    display: flex;
    flex-direction: column;
    margin-bottom: at(@global-sizes, m);
  }

  &_ControlGroup {
    display: flex;
    position: relative;
  }

  &_Label {
    margin-bottom: at(@global-sizes, s);
  }

  &_Control {
    flex-grow: 1;
    padding: .5rem .75rem;
    margin: 0;
    font-size: @control-font-size;
    line-height: 1.25;
    background-color: @control-background-color;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid @control-border-color;
    touch-action: manipulation;
    box-sizing: border-box;
    height: @control-height;
    user-select: none;
    outline-offset: -2px;
    outline-width: 2px;

    &[disabled] {
      background-color: @control-disabled-background-color;
    }

    select& {
      height: @control-height;
      text-transform: none;
    }

    &_Color + & {
      padding-left: 2.6rem;
    }

    &_Color {
      position: absolute;
      background: transparent;
      background-image: none;
      background-clip: padding-box;
      border: 0;
      touch-action: manipulation;
      width: @control-height;
      height: @control-height;
      margin: 0;
      padding: 0.2rem;
      flex-grow: 0;
      flex-shrink: 0;
      box-sizing: border-box;
      outline-offset: -2px;
      outline-width: 2px;
    }
  }

  &_Button {
    .form-button();

    & + & {
      margin-left: at(@global-sizes, s);
    }

    &__active {
      .form-button-active();
    }
  }
}
