.form-button () {
  display: inline-block;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  box-sizing: border-box;
  background-color: #fff;
  border-color: rgba(120,130,140,.13);
  outline-offset: -2px;
  outline-width: 2px;

  &:not([disabled]) {
    &:hover,
    &:focus {
      box-shadow: inset 0 -10rem 0px rgba(158, 158, 158, 0.2);
    }
  }

  &[disabled] {
    background-color: fade(#000, 10%);
    border-color: rgba(120,130,140,.13);
    color: @global-base-text-color;
  }
}

.form-button-active () {
  color: @button-active-color;
  background-color: #0275d8;
  border-color: #0275d8;

  &:not([disabled]) {
    &:hover,
    &:focus {
      color: @button-active-color;
      background-color: #025aa5;
      border-color: #01549b;
      box-shadow: none;
    }
  }
}
