@import (reference, once) "../../style/variables";

.Navbar {
  height: @global-header-height;
  margin: 0;
  display: table;

  &_Tab {
    display: table-cell;
    box-sizing: border-box;
    min-width: 160px;
    padding: 0 24px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    vertical-align: middle;

    &:hover {
      color: white;
    }

    &__active {
      color: white;
      box-shadow: inset 0px -2px 0px 0px rgba(255,255,255,1);
    }
  }
}
