@component: calendar;

@base-font: 13px Arial, Helvetica, sans-serif;
@base-font-color: #333;

@day-hours-width: 4em;
@day-weekend-background-color: fade(#f1f1f1, 50%);
@day-separator-color: darken(#fcfcfc, 10%);
@day-hour-separator-color: darken(#fcfcfc, 5%);
@day-weekend-title-font-color: #888;

@day-hour-color: #888;
@day-hour-size: 0.9em;
@day-hour-size-mobile: 1.05em;
@day-hour-margin: 0.5 * @day-hour-size;
@day-hour-margin-mobile: 0.5 * @day-hour-size-mobile;

@day-event-color: #00f;
@day-event-background-color: fade(@day-event-color, 20%);
@day-event-background-selected-color: fade(@day-event-color, 30%);
@day-event-border-color: fade(@day-event-color, 50%);

@day-header-title-font-size: 1.3em;
@day-header-title-line-height: 1.3em;
@day-header-title-font-size-mobile: 1em;
@day-header-title-line-height-mobile: 1.2em;

.mobile (@rules) {
  @media screen and (max-width: 480px) {
    @rules();
  }
}

.desktop (@rules) {
  @media screen and (min-width: 1200px) {
    @rules();
  }
}

.print (@rules) {
  @media print {
    @rules();
  }
}

.hdpi (@rules) {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 1.5)
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {

    @rules();
  }
}
