@import (reference, once) "../../style/constant";

.@{component}_GridDays {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  &_Tr1 {
    height: 0;
  }

  &_Tr2 {
    height: auto;
  }

  &_Td1, &_Td2 {
    padding: 0;
  }

  &_Td2 {
    height: 100%;
  }

  &_Header {
    margin-left: @day-hours-width;
    position: relative;
    height: 50px;
  }
}
