@import (reference, once) "../../style/constant";

.@{component}_GridDays {
  position: relative;
  height: 200%;
  margin-top: @day-hour-margin;
  margin-bottom: @day-hour-margin;

  &__hours {
    margin-left: @day-hours-width;
  }

  &_item {
    width: 100%;
    height: 100%;
    display: table;
  }

  &_day {
    display: table-cell;

    &:not(:last-child) {
      box-shadow: inset -1px 0px 0px 0px @day-separator-color;
    }
  }

  .mobile({
    margin-top: @day-hour-margin;
    margin-bottom: @day-hour-margin;
  })
}
