@import (reference, once) "../../style/constant";

.@{component}_GridDay {
  position: relative;
  height: 200%;
  margin-top: @day-hour-margin;
  margin-bottom: @day-hour-margin;

  &__hours {
    margin-left: @day-hours-width;
  }

  .mobile({
    margin-top: @day-hour-margin;
    margin-bottom: @day-hour-margin;
  })
}
