@import (reference, once) "../../style/variables";

.Settings {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &_Menu {
    float: left;
    width: 200px;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.01);
    height: 100%;
  }

  &_Body {
    overflow: auto;
    height: 100%;
  }
}
